# ==============================================
# Visual Studio 自动生成文件（全部屏蔽）
# ==============================================
.vs/
x64/
Debug/
Release/
ipch/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# 编译产生的中间文件
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.idb
*.res
*.pch

# ==============================================
# LeetCode 刷题专用（干净整洁）
# ==============================================
# 只保留 .c .cpp .h .hpp .md 等源码文件

# ==============================================
# 系统垃圾文件（Windows/Mac 都屏蔽）
# ==============================================
Thumbs.db
.DS_Store